.footer_title {
  font-family: 'Instrument Sans';
  font-size: 40px;
  text-align: center;
  margin: auto;
}

.footer_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.footer_logo {
  width: 50px;
}