.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header_title {
  font-family: 'Inter Bold';
  font-style: bold;
  margin-top: 60px;
  margin-bottom: 0px;
  font-size: 36px;
  width: 250px;
  height: 50;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}

.nav_button {
  font-family: 'Inter';
  margin: auto 5px;
  height: 24px;
  width: 67;
  background-color: rgb(188, 188, 188);
  border-radius: 12px;
  border-color: rgba(0, 0, 0, 0.46);
  border-width: 1px;
  border-style: solid;
}

.nav_button:hover {
  opacity: 0.7;
}

.nav_button:active {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
